.library-designs{
    display:flex;
    flex-direction:column;
    gap:24px;
    align-items: center;
    justify-content: center;
    width:100%;
    background:#F3F3F3;
    padding:
        clamp(24px, 5vw, 96px) clamp(24px, 6vw, 120px);
}

.library-designs-items{
    display:flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
    justify-content: center;
}
.library-designs-filters{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
  margin-top:10px;
  padding:10px
}
.library-designs-items-container {
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #FFF;
  flex-shrink: 0;
  overflow: hidden;
  /* padding: 24px; */
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(217, 183, 253, 0.30);
  border-radius: 12px;
  position: relative;
}
.design-title-wrapper{
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 6px;
}
.library-designs-items-container-cost{
  position: absolute;
  top: 16px;
  left: 16px;
  background: #36B959;
  color: #fff;
  width: 46px;
  box-sizing: border-box;
  padding: 4px 8px;
  border-radius: 8px;
  color: #FFF;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.14px;
}
.design-title-wrapper-price{
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.library-designs-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 16px;
  /* overflow:hidden; */
}

.design-stats-wrapper {
  background:  #EDF2F7;
  width: 100%;
  padding: 6px 16px;
  margin-top: auto; /* This pushes it to the bottom */
}

.library-designs-items-container-img{
    width:100%;
    height:250px;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    /* background:grey; */
    /* object-fit: cover;      Ensures the image covers the area */
   
}
.library-designs-items-container-img img{
    width:100%;
   
    /* background:grey; */
    object-fit: cover;      /* Ensures the image covers the area */
    
}

.library-designs-items-container h6{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.288px;
    word-break: break-all
}
.design-title-text{
  color: #000;

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}
.library-designs-items-container p{
    color: #001325;
    /* text-align: center; */
  
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 28px; */
    letter-spacing: -0.3px;
    opacity: 0.5;
    text-align:justify;
}

.pagination {
    display: flex;
   
    padding: 10px;
 
    width: 100%;
    justify-content: center;
  }
  
  .prev-button,
  .next-button {
    cursor: pointer;
    background: none;
    color: #FF7A7A;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 10px 20px;
    height: 6vh;
    border: none;
   
  }
  
  .pagination-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 43px;
    width: 43px;
    background: white;
  }
  
  .pagination-button.active {
    background-color: #FF7A7A;
    color: #fff;
    border-radius: 5px;
    border: none;
    height: 43px;
    width: 43px;
  }


  .search-container{
    display: flex;
    background:#eee;
    /* justify-content: center; */
    align-items: center;
    gap: 8px;
    width: 350px;
    padding: 10px;
    border-radius:12px;
    overflow:hidden;
   
    box-sizing: border-box;
    
  }
  .search-container input{
    border: none;
    outline: none;
    width: 100%;
    /* padding: 10px; */
    font-size: 16px;
    color: #000;
    background:#eee;
  }
  .search-bar{
    display:flex;
    flex-wrap: wrap;
    gap:16px;
    align-items:center;
  }



@media screen and (max-width:500px) {
  .library-designs-items-container {
    width: 95%;
   
  }
  
}
