.privacy-policy{
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    /* margin-top: 50px; */
}
.privacy-policy ul{
    list-style-type: disc;
    margin-left: 20px;
}
.privacy-policy ol {
    list-style-type: decimal; /* Ensures numbers are shown */
    margin-left: 20px;       /* Indents the list for clarity */
    margin-top: 1em;
  }
.privacy-policy h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.privacy-policy h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.privacy-policy p{
    
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;
    
}
.privacy-policy a{
    color: blue;
}
.privacy-info{
    margin-left: 20px;
}

.pageRoot{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.pageContent{
    flex: 1;
    display: flex;
    flex-direction: column;
}