.tools-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 32px;
    padding:  clamp(24px, 5vw, 100px) clamp(24px, 6vw, 80px);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.90) 0%, rgba(255, 255, 255, 0.90) 100%), #5B89FF;
}
.library-tools-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 32px;
    padding:  clamp(24px, 5vw, 100px) clamp(24px, 6vw, 80px);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.90) 0%, rgba(255, 255, 255, 0.90) 100%), #FF7A7A;
}
.tools-page-items{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 16px;
    justify-content: space-around;
    align-items: center;
}
.industry-category-page-items{
    display: flex;
   
    width: 100%;
    gap: 16px;
   overflow-x: scroll;
   justify-content: flex-start;

    /* align-items: center; */
}
.industry-category-page-items {
    margin: 0;
    padding: 0;
}
.industry-category-page-items > * {
    margin: 0;
}
.industry-category-page-items::-webkit-scrollbar {
    display: none;
}
.tools-page-items-cont{
    padding: 8px;
    border-radius: 8px;
    background: white;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 300px;
    /* flex: 1 1 auto; */
}
.tools-page-items-cont img{
    width: 100%;
    height: 200px;
}

.tools-page-header{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tools-page-header h2,
.tools-page-header h3{
    color: #001325;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
}

.tools-page-header p{
    color: #001325;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.8;
}
.tools-page-items-content h6{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    
    letter-spacing: -0.288px;
}

.tools-page-items-content p{
    color: #001325;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    
    opacity: 0.5;
}