.blog-page-cont{
    width: 100%;
    display:flex; 
    align-items: center;
    justify-content: center;
}
.blog-page{
    display:flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 70%;
}
.blog-page-container{
    width:100%
}
.blog-page h1{
    font-size: clamp(28px, 5vw, 48px);
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
}
.blog-page h2{
    font-size: clamp(20px, 3vw, 32px);
    line-height: 1.4;
    font-weight: 600;
    margin: 16px 0px;
    text-align: left;
}
.blog-page p,.blog-page span{
    font-size: clamp(16px, 2vw, 24px);
    margin-bottom: 18px;
}
.blog-page ul{
    list-style-type: disc;
    padding-left: 1.5em;
    margin: 10px 0px;
}
.blog-page li{
    padding-left: 0.5em;
    font-size: clamp(16px, 2vw, 24px);
    margin: 5px 0px;
    list-style-position: outside;
}
.blog-page-parts-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.blog-page-parts-logo img{
    width: 80%;
    height: 250px;
}
.blog-page a{
    color: blue;
    text-decoration: underline;
}

.blog-page-bold-font{
    font-weight: 600;
}
.blog-page-car{
    width: 100%;
}
.blog-page-car img{
    width: 100%;
}
@media screen and (max-width:550px){
    .blog-page{
        width: 95%;
        box-sizing: border-box;
        
    }
    .blog-page-bmw-logo{
        
        flex-direction: column;
    }
}